<section class="contenido">
        <div class="carrito">
            <h1>Carrito de Compras</h1>
            <div id="carrito-secction">
                {{#each productos}}
                    <div class="carrito-js">
                        <div class="item">
                            <img src="{{this.thumbnails}}" alt="img">
                            <div class="info">
                                <h3>{{this.title}}</h3>
                                <p class="p-precio">{{this.description}}</p>
                                <p>Precio: ${{this.price}}</p>
                                <p>Cantidad: {{this.quantity}}</p>
                            </div>
                            <button class="btn-delete" cid="{{../cid}}" delete-productId="{{this._id}}">Eliminar producto</button>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="total">
                <h3>Total del carrito: ${{totalPrice}}</h3>
                <button class="btn btn-success purchase" cart-id="{{cid}}" amount="{{totalPrice}}">Comprar</button>
            </div>
            <div class="btns">
                <form action="/" method="get"><button class="seguir-comprando" type="submit">Ver mas productos</button></form>
            </div>
        </div>
    </section>
<script src="/js/cart.js"></script>