<section class="products-grid">
    <section class="filter-section">
        <form method="GET" action="/" class="filters">
            <div class="input-filter">
                <div class="form-group">
                    <label for="category">Filtrar por categoría:</label>
                    <input type="text" id="category" name="category" class="form-control" value="{{category}}">
                </div>
                <div class="form-group">
                    <label for="sort">Ordenar por precio:</label>
                    <select id="sort" name="sort" class="form-control">
                        <option value="" {{#if (eq sort "")}}selected{{/if}}>Sin ordenar</option>
                        <option value="asc" {{#if (eq sort "asc")}}selected{{/if}}>Ascendente</option>
                        <option value="desc" {{#if (eq sort "desc")}}selected{{/if}}>Descendente</option>
                    </select>
                </div>
            </div>
            <div class="btns-filter">
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <button class="delete-filter">Eliminar filtro</button>
            </div>
        </form>
    </section>

    <div class="container cont-products" style="max-width: 1100px;">
        <div class="row">
            {{#if docs}}
                {{#each docs}}
                    <div class="col-md-3 mb-4">
                        <div class="card" style="width: 100%;">
                            <img src="{{this.thumbnails}}" class="card-img-top image-card" alt="img">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Precio: ${{this.price}}</li>
                                <li class="list-group-item">Categoria: {{this.category}}</li>
                                <li class="list-group-item">Stock: {{this.stock}}</li>
                            </ul>
                            <div class="card-body ">
                                {{#if this.status}}
                                    {{#if ../isAuthenticated}}
                                        <button class="add-to-cart-btn btn btn-primary btn-card" cart-id="{{../cid}}" product-id="{{this._id}}">Agregar al carrito</button>
                                    {{else}}
                                        <button type="button" class="btn btn-primary btn-card" disabled>Inicia sesión</button>
                                    {{/if}}
                                {{else}}
                                    <button type="button" class="btn btn-primary btn-card" disabled>Agregar al carrito</button>
                                {{/if}}
                                {{#if (eq ../role 'admin')}}
                                    <div class="div-btns">
                                        <button class="deleteProduct btn btn-danger btn-card"  product-id="{{this._id}}">Eliminar</button>
                                        <a href="/updateProduct/{{this._id}}">
                                            <button class="btn btn-secondary btn-card">Editar</button>
                                        </a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h1>No se encontraron productos</h1>
            {{/if}}
        </div>
        {{#if docs}}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-btn">
                    <!-- Botón de página anterior -->
                    {{#if hasPrevPage}}
                        <li class="page-item ">
                            <a class="page-link transparent-bg" href="{{prevLink}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {{/if}}

                    <!-- Botones de las páginas -->
                    {{#each pages}}
                        <li class="page-item {{#if this.isCurrent}}active{{/if}}">
                            <a class="page-link transparent-bg" href="?page={{this.page}}">{{this.page}}</a>
                        </li>
                    {{/each}}

                    <!-- Botón de página siguiente -->
                    {{#if hasNextPage}}
                        <li class="page-item">
                            <a class="page-link transparent-bg" href="{{nextLink}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        {{/if}}
    </div>
</section>

<br><br><br>
<script src="/js/index.js"></script>