<section class="products-grid">
    <h1 class="text-center mb-4">Lista de productos:</h1>
    <section class="filter-section">
        <form method="GET" action="/">
            <div class="form-group">
                <label for="category">Filtrar por categoría:</label>
                <input type="text" id="category" name="category" class="form-control" value="{{category}}">
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </section>

    <div class="container cont-products" style="max-width: 1100px;">
        <div class="row">
            {{#each docs}}
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 100%;">
                        <img src="{{this.thumbnails}}" class="card-img-top" alt="img">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Precio: ${{this.price}}</li>
                            <li class="list-group-item">Categoria: {{this.category}}</li>
                            <li class="list-group-item">Stock: {{this.stock}}</li>
                        </ul>
                        <div class="card-body">
                            {{#if this.status}}
                                <button class="add-to-cart-btn btn btn-primary" product-id="{{this._id}}">Agregar al carrito</button>
                            {{else}}
                                <button type="button" class="btn btn-primary" disabled>Agregar al carrito</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-btn">
                <!-- Botón de página anterior -->
                {{#if hasPrevPage}}
                    <li class="page-item ">
                        <a class="page-link transparent-bg" href="{{prevLink}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{/if}}

                <!-- Botones de las páginas -->
                {{#each pages}}
                    <li class="page-item {{#if this.isCurrent}}active{{/if}}">
                        <a class="page-link transparent-bg" href="?page={{this.page}}">{{this.page}}</a>
                    </li>
                {{/each}}

                <!-- Botón de página siguiente -->
                {{#if hasNextPage}}
                    <li class="page-item">
                        <a class="page-link transparent-bg" href="{{nextLink}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</section>
<form id="product-form" method="POST" action="/api/products" class="form-product">
    <div class="container">
        <h1 class="title-form">Agregar producto:</h1>
        <div class="row">
            <div class="col-6">
            
                <div class="mb-3">
                    <label for="title" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="title" name="title" required aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="description" name="description" required aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="code" class="form-label">Código:</label>
                    <input type="text" class="form-control"  id="code" name="code" required aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Precio:</label>
                    <input type="number" id="price" name="price" class="form-control" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock:</label>
                    <input type="number" id="stock" name="stock" required class="form-control" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Categoría:</label>
                    <input type="text" id="category" name="category" required class="form-control" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label ffor="thumbnails" class="form-label">Thumbnails:</label>
                    <input type="text" id="thumbnails" name="thumbnails" class="form-control" aria-describedby="emailHelp">
                </div>

                <div class="mb-3 form-check">
                    <label class="form-check-label" for="status">Estado</label>
                    <input type="checkbox" id="status" name="status" class="form-check-input" checked>
                </div>

            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-form">Agregar producto</button>
</form>
<br><br><br>
<script src="/js/index.js"></script>